# Data

home
altair.ac6.fr
dmarc-reports
user.txt
root.txt
last.txt
license.lic
email.txt


# Cache

__pycache__


# API ignore

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
