.cells {
    border-left: 2px solid black;
    text-align: center;
}

.checkmark {
    height: 30px;
    width: 30px;
}

.even {
    background-color: #F7F7F7;
}

.icons {
    text-align: right;
}

.icons img {
    width: 50px;
    height: 50px;
}

.logos {
    height: 50px;
    width: 75px;
}

.odd {
    background-color: #F4ECD4;
}

p {
    font-family: Arial;
    color: #707070;
}

.plus {
    position: absolute;
    width: 120px;
    height: 30px;
    line-height: 0%;
    text-align: center;
    font-family: Arial;
    font-size: medium;
    background-color: #fdc20b;
    border-radius: 10px;
}

table {
    border-collapse: collapse;
}