.block {
    position: relative;
    width: 300px;
    height: 300px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    font-family: Arial;
    font-size: x-large;
    background-color: #F3F3F4;
    box-shadow: 1px 1px #D2D3D5,
                2px 2px #D2D3D5;
}

.block img {
    width: 100%;
    height: 100%;
}

.block p {
    position: absolute;
    bottom: 0;
    left: 30px;
}

.block_outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 450px;
    height: 300px;
}

.inner {
    position: relative;
    width: 750px;
    height: 300px;
    font-family: Arial;
    font-size: x-large;
    background-color: #F3F3F4;
    box-shadow: 1px 1px #D2D3D5,
                2px 2px #D2D3D5;
}

.inner img {
    position: absolute;
    top: -30px;
    right: -30px;
    max-width: 10%;
    max-height: 20%;
    z-index: 100;
}

.linux {
    text-align: left; 
    vertical-align: middle;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
    font-family: Arial;
    font-size: medium;
    border-spacing: 20px;
    border-collapse: separate;
}

.linux td img {
    display: table-cell;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.more {
    width: 120px;
    height: 50px;
    text-align: center;
    font-family: Arial;
    font-size: medium;
    color: white;
    background-color: #60A0CF;
    border-radius: 10px;
    display: table-cell;
}

.outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 400px;
}

.plus {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 120px;
    height: 30px;
    line-height: 0%;
    text-align: center;
    font-family: Arial;
    font-size: medium;
    color: white;
    background-color: #60A0CF;
    border-radius: 10px;
}

table {
    width: 100%;
}

.text {
    font-family: Arial;
    font-size: xx-large;
}

.title {
    position: absolute;
    width: 375px;
    height: 30px;
    line-height: 0%;
    top: 0;
    bottom: 10px;
    text-align: center;
    font-family: Arial;
    font-size: xx-large;
}

@media screen and (max-width: 900px) {
    .block_outer {
        width: 300px;
    }
    
    .boxes td {
        display: table-row;
    }

    .linux {
        width: 750px;
    }

    .mobilehidden {
        display: none;
    }
}