.outer {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    max-height: 400px;
    float: top;
    border: 1px solid black;
}

.outer img {
    position: absolute;
    top: -10%;
    right: 7.5%;
    max-width: 10%;
    max-height: 20%;
    z-index: 100;
}

.inner {
    position: relative;
    width: 80%;
    height: 80%;
    font-family: Arial;
    font-size: 1.25vw;
    background-color: #F3F3F4;
    box-shadow: 1px 1px #D2D3D5,
                2px 2px #D2D3D5;
}

.title {
    position: absolute;
    width: 50%;
    height: 10%;
    line-height: 0%;
    top: 0;
    text-align: center;
    font-family: Arial;
    font-size: 1.5vw;
}

.plus {
    position: absolute;
    bottom: 5px;
    right: 5px;
    width: 16%;
    height: 10%;
    line-height: 0%;
    text-align: center;
    font-family: Arial;
    font-size: 0.8vw;
    background-color: #D2D3D5;
}

.text {
    font-family: Arial;
    font-size: 1.5vw;
}

@media screen and (max-width: 800px) {
    .outer {
        width: 100%;
        max-width: 100%;
        max-height: 800px;
    }
    .outer img {
        right: 10%
    }
}